<% const elements = [{ href: '/profile', src: locals.userPicture }] %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head', {title: 'facebook emulator'}) %>
    <link rel="stylesheet" href="./css/general.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/post.css" />
    <link rel="icon" href="./images/facebook.png" type="image/x-icon" />
  </head>
  <body>
    <div class="page-content">
      <%- include('nav-images', {title: 'facebook emulator'}) %>
      <div class="main-page">
        <aside class="left-nav">
          <div class="side-links scroll">
            <div class="main-links">
              <%- include('side-link', {href:'/', src:'./images/home.png', alt:
              'Home Logo', text: 'Home', active: true}) %> <%-
              include('side-link', {href:'/', src:locals.userPicture, alt:
              'Profile picture', text: locals.user.username, active: false}) %>
              <hr />
            </div>
          </div>
        </aside>
        <main class="posts"></main>
        <aside class="right-nav"></aside>
      </div>
    </div>
  </body>
</html>
