:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --dark-blue: #3b5998;
  --light-blue: #4267b2;
  --light-gray: #f0f2f5;
  --main-font: 'Philosopher', sans-serif;
}
html {
  min-height: 100vh;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
