.page-content {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr;
}
.main-page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.side-links {
  padding: 16px 12px;
}

.side-link {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: black;
  border-radius: 12px;
}

.side-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.text {
  margin: 0;
}

hr {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.side-link img {
  border-radius: 50%;
}

.side-link div {
  width: 10px;
  height: 30px;
  border-radius: 0 12px 12px 0px;
  position: fixed;
  left: 0;
}

.side-link div.active {
  background-color: var(--light-blue);
}
.posts {
  display: grid;
  justify-content: center;
  padding: 16px 0px;
}
