body {
  display: grid;
  grid-template-rows: 1fr 8fr;
}
.sign-in-card {
  width: fit-content;
  background-color: var(--light-blue);
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}
.sign-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-login {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--light-gray);
  font-size: 18px;
  text-decoration: none;
  font-family: var(--main-font);
}
.facebook-login:hover {
  opacity: 0.7;
}
